<div class="container">
  <div class="row">
    <div class="col s5">
      <div class="card">
        <div class="card-content">
          <form #employeeForm="ngForm" ngSubmit="addEmployee(employeeForm)">
            <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="employeeService.selectedEmployee._id">
            <div class="row">
              <div class="input-field col-s12">
                <input type="text" name="name" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.name" placeholder="Enter your FullName">
              </div>
              <div class="input-field col-s12">
                <input type="text" name="position" #position="ngModel" [(ngModel)]="employeeService.selectedEmployee.position" placeholder="Enter your Position">
              </div>
              <div class="input-field col-s12">
                <input type="text" name="office" #office="ngModel" [(ngModel)]="employeeService.selectedEmployee.office" placeholder="Enter your Office">
              </div>
              <div class="input-field col-s12">
                <input type="text" name="salary" #salary="ngModel" [(ngModel)]="employeeService.selectedEmployee.salary" value="0" placeholder="Enter your Salary">
              </div>
              <div class="card-action">
                <div class="input-field col-s12">
                  <button class="btn right blue" style="margin-left: 2px;" (click)="resetForm(employeeForm)">Clean</button>
                  <button class="btn right " (click)="addEmployee(employeeForm)">Save</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col s7">                                      <!--schema for the dates Name, Position...-->
      <table class="striped highlight black-text">
        <thead>
          <th>Name</th>
          <th>Position</th>
          <th>Office</th>
          <th>Operations</th>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employeeService.employees">
            <td>{{ employee.name }}</td>
            <td>{{ employee.position }}</td>
            <td>{{ employee.office }}</td>
            <td>
              <a (click)="editEmployee(employee)">                         <!---Icons in section operations-->
                <img src="https://img.icons8.com/plasticine/29/000000/edit.png">
              </a>
              <a (click)="deleteEmployee(employee._id, employeeForm)">
                <img src="https://img.icons8.com/cute-clipart/29/000000/delete-forever.png"> <!---Img With Click Function -->
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!--FOOTER-->
<footer class="page-footer font-small pink">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">This is not the end remember :</h5>
        <p class="grey-text text-lighten-4">“ Code is like humor. When you have to explain it, it’s bad.” – Cory House</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Click to enjoy the life</h5>
        <ul>
          <li><a href="https://www.youtube.com/watch?v=KVtdUqVKVEY" class="brand-logo"><img src="https://img.icons8.com/clouds/64/000000/youtube.png"></a></li>
          <li><a href="https://www.thomann.de/de/index.html?gclid=EAIaIQobChMItM_l3fPx5wIVl813Ch2cmQ6NEAAYASAAEgJRIvD_BwE" class="brand-logo"><img src="https://img.icons8.com/dusk/64/000000/online-store.png"></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2020 Copyright Orendt Studios
    </div>
  </div>
</footer>
